.App {
  text-align: center;
  justify-content: center;
  display:block;
}

.form {
  padding: 5px;
}

.Table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSection{
  text-align: center;
  padding-right: 5rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
