.App {
  text-align: center;
  justify-content: center;
  display:block;
}

.form {
  padding: 5px;
}

.Table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSection{
  text-align: center;
  padding-right: 5rem;
}
